In [1]:
import pandas as pd
import numpy as np
import re as re

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
validate = pd.read_csv('gender_submission.csv')

In [2]:
# Begin to Look at the Features. This is based on https://www.kaggle.com/sinakhorami/titanic-best-working-classifier
# Not a solution, just a guide on how to engineer and clean up data to boost accuracy without overfitting

# Mapping Sex
train['Sex_binary'] = train['Sex'].map({'male': 1, 'female': 0})
test['Sex_binary'] = test['Sex'].map({'male': 1, 'female': 0})

In [3]:
# Building the size of the family
train['FamilySize'] = train['SibSp'] + train['Parch'] + 1
test['FamilySize'] = test['SibSp'] + test['Parch'] + 1

In [4]:
# Now what matters, if the person was alone or not
train['IsAlone'] = 0
train.loc[train['FamilySize'] == 1, 'IsAlone'] = 1
test['IsAlone'] = 0
test.loc[test['FamilySize'] == 1, 'IsAlone'] = 1

In [5]:
# Filling empty cells with the most repeated shore
train['Embarked'] = train['Embarked'].fillna('S')
test['Embarked'] = test['Embarked'].fillna('S')

# Mapping shores
train['Embarked'] = train['Embarked'].map({'S':2,'Q':1,'C':0})
test['Embarked'] = test['Embarked'].map({'S':2,'Q':1,'C':0})

In [6]:
# Filling empty cells with median fare
train['Fare'] = train['Fare'].fillna(train['Fare'].median())
test['Fare'] = train['Fare'].fillna(train['Fare'].median())

# Splitting into 4 categories to generalize
train['CategoricalFare'] = pd.qcut(train['Fare'], 4)
test['CategoricalFare'] = pd.qcut(train['Fare'], 4)

# Mapping the categories 
train.loc[train['Fare'] <= 7.91, 'Fare'] = 0
train.loc[(train['Fare'] > 7.91) & (train['Fare'] <= 14.454), 'Fare'] = 1
train.loc[(train['Fare'] > 14.454) & (train['Fare'] <= 31), 'Fare'] = 2
train.loc[train['Fare'] > 31, 'Fare'] = 3
train['Fare'] = train['Fare'].astype(int)

test.loc[train['Fare'] <= 7.91, 'Fare'] = 0
test.loc[(train['Fare'] > 7.91) & (test['Fare'] <= 14.454), 'Fare'] = 1
test.loc[(train['Fare'] > 14.454) & (test['Fare'] <= 31), 'Fare'] = 2
test.loc[train['Fare'] > 31, 'Fare'] = 3
test['Fare'] = test['Fare'].astype(int)

In [7]:
# Filling (a lot) of empty age cells with a random number between the mean - std and mean + std
ageMean = train['Age'].mean()
ageStd = train['Age'].std()

train['Age'] = train['Age'].fillna(np.random.randint(ageMean - ageStd, ageMean + ageStd))
test['Age'] = test['Age'].fillna(np.random.randint(ageMean - ageStd, ageMean + ageStd))

# Splitting into 5 categories to generalize
train['CategoricalAge'] = pd.cut(train['Age'], 5)

# Mapping the categories
train.loc[ train['Age'] <= 16, 'Age'] = 0
train.loc[(train['Age'] > 16) & (train['Age'] <= 32), 'Age'] = 1
train.loc[(train['Age'] > 32) & (train['Age'] <= 48), 'Age'] = 2
train.loc[(train['Age'] > 48) & (train['Age'] <= 64), 'Age'] = 3
train.loc[ train['Age'] > 64, 'Age'] 

test.loc[ test['Age'] <= 16, 'Age'] = 0
test.loc[(test['Age'] > 16) & (test['Age'] <= 32), 'Age'] = 1
test.loc[(test['Age'] > 32) & (test['Age'] <= 48), 'Age'] = 2
test.loc[(test['Age'] > 48) & (test['Age'] <= 64), 'Age'] = 3
test.loc[test['Age'] > 64, 'Age']

81    67.0
96    76.0
Name: Age, dtype: float64

In [8]:
# Getting titles of the people aboard (func from the same source listed above)
def get_title(name):
    title_search = re.search(' ([A-Za-z]+)\.', name)
    # If the title exists, extract and return it.
    if title_search:
        return title_search.group(1)
    return ""

train['Title'] = train['Name'].apply(get_title)
test['Title'] = test['Name'].apply(get_title)
    
train['Title'] = train['Title'].replace(['Lady','Countess','Capt', 'Col','Don','Dr','Major','Rev','Sir','Jonkheer','Dona'],'Rare')
train['Title'] = train['Title'].replace('Mlle', 'Miss')
train['Title'] = train['Title'].replace('Ms', 'Miss')
train['Title'] = train['Title'].replace('Mme', 'Mrs')

test['Title'] = test['Title'].replace(['Lady','Countess','Capt', 'Col','Don','Dr','Major','Rev','Sir','Jonkheer','Dona'],'Rare')
test['Title'] = test['Title'].replace('Mlle', 'Miss')
test['Title'] = test['Title'].replace('Ms', 'Miss')
test['Title'] = test['Title'].replace('Mme', 'Mrs')

# Mapping titles
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}
train['Title'] = train['Title'].map(title_mapping)
train['Title'] = train['Title'].fillna(0)

test['Title'] = test['Title'].map(title_mapping)
test['Title'] = test['Title'].fillna(0)
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binary,FamilySize,IsAlone,CategoricalFare,CategoricalAge,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,1.0,1,0,A/5 21171,0,NaN,2,1,2,0,"(-0.001, 7.91]","(16.336, 32.252]",1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,2.0,1,0,PC 17599,3,C85,0,0,2,0,"(31.0, 512.329]","(32.252, 48.168]",3
2,3,1,3,"Heikkinen, Miss. Laina",female,1.0,0,0,STON/O2. 3101282,1,NaN,2,0,1,1,"(7.91, 14.454]","(16.336, 32.252]",2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,2.0,1,0,113803,3,C123,2,0,2,0,"(31.0, 512.329]","(32.252, 48.168]",3
4,5,0,3,"Allen, Mr. William Henry",male,2.0,0,0,373450,1,NaN,2,1,1,1,"(7.91, 14.454]","(32.252, 48.168]",1
5,6,0,3,"Moran, Mr. James",male,1.0,0,0,330877,1,NaN,1,1,1,1,"(7.91, 14.454]","(16.336, 32.252]",1
6,7,0,1,"McCarthy, Mr. Timothy J",male,3.0,0,0,17463,3,E46,2,1,1,1,"(31.0, 512.329]","(48.168, 64.084]",1
7,8,0,3,"Palsson, Master. Gosta Leonard",male,0.0,3,1,349909,2,NaN,2,1,5,0,"(14.454, 31.0]","(0.34, 16.336]",4
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,1.0,0,2,347742,1,NaN,2,0,3,0,"(7.91, 14.454]","(16.336, 32.252]",3
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,0.0,1,0,237736,2,NaN,0,0,2,0,"(14.454, 31.0]","(0.34, 16.336]",3
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,0.0,1,1,PP 9549,2,G6,2,0,3,0,"(14.454, 31.0]","(0.34, 16.336]",2
11,12,1,1,"Bonnell, Miss. Elizabeth",female,3.0,0,0,113783,2,C103,2,0,1,1,"(14.454, 31.0]","(48.168, 64.084]",2
12,13,0,3,"Saundercock, Mr. William Henry",male,1.0,0,0,A/5. 2151,1,NaN,2,1,1,1,"(7.91, 14.454]","(16.336, 32.252]",1
13,14,0,3,"Andersson, Mr. Anders Johan",male,2.0,1,5,347082,3,NaN,2,1,7,0,"(31.0, 512.329]","(32.252, 48.168]",1
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,0.0,0,0,350406,0,NaN,2,0,1,1,"(-0.001, 7.91]","(0.34, 16.336]",2
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,3.0,0,0,248706,2,NaN,2,0,1,1,"(14.454, 31.0]","(48.168, 64.084]",3
16,17,0,3,"Rice, Master. Eugene",male,0.0,4,1,382652,2,NaN,1,1,6,0,"(14.454, 31.0]","(0.34, 16.336]",4
17,18,1,2,"Williams, Mr. Charles Eugene",male,1.0,0,0,244373,1,NaN,2,1,1,1,"(7.91, 14.454]","(16.336, 32.252]",1
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,1.0,1,0,345763,2,NaN,2,0,2,0,"(14.454, 31.0]","(16.336, 32.252]",3
19,20,1,3,"Masselmani, Mrs. Fatima",female,1.0,0,0,2649,0,NaN,0,0,1,1,"(-0.001, 7.91]","(16.336, 32.252]",3
20,21,0,2,"Fynney, Mr. Joseph J",male,2.0,0,0,239865,2,NaN,2,1,1,1,"(14.454, 31.0]","(32.252, 48.168]",1
21,22,1,2,"Beesley, Mr. Lawrence",male,2.0,0,0,248698,1,D56,2,1,1,1,"(7.91, 14.454]","(32.252, 48.168]",1
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,0.0,0,0,330923,1,NaN,1,0,1,1,"(7.91, 14.454]","(0.34, 16.336]",2
23,24,1,1,"Sloper, Mr. William Thompson",male,1.0,0,0,113788,3,A6,2,1,1,1,"(31.0, 512.329]","(16.336, 32.252]",1
24,25,0,3,"Palsson, Miss. Torborg Danira",female,0.0,3,1,349909,2,NaN,2,0,5,0,"(14.454, 31.0]","(0.34, 16.336]",2
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,2.0,1,5,347077,3,NaN,2,0,7,0,"(31.0, 512.329]","(32.252, 48.168]",3
26,27,0,3,"Emir, Mr. Farred Chehab",male,1.0,0,0,2631,0,NaN,0,1,1,1,"(-0.001, 7.91]","(16.336, 32.252]",1
27,28,0,1,"Fortune, Mr. Charles Alexander",male,1.0,3,2,19950,3,C23 C25 C27,2,1,6,0,"(31.0, 512.329]","(16.336, 32.252]",1
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,1.0,0,0,330959,0,NaN,1,0,1,1,"(-0.001, 7.91]","(16.336, 32.252]",2
29,30,0,3,"Todoroff, Mr. Lalio",male,1.0,0,0,349216,0,NaN,2,1,1,1,"(-0.001, 7.91]","(16.336, 32.252]",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,1.0,1,0,28134,1,NaN,2,1,2,0,"(7.91, 14.454]","(16.336, 32.252]",1
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,2.0,0,0,17466,2,D17,2,0,1,1,"(14.454, 31.0]","(32.252, 48.168]",3
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,1.0,8,2,CA. 2343,3,NaN,2,0,11,0,"(31.0, 512.329]","(16.336, 32.252]",2
864,865,0,2,"Gill, Mr. John William",male,1.0,0,0,233866,1,NaN,2,1,1,1,"(7.91, 14.454]","(16.336, 32.252]",1
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,2.0,0,0,236852,1,NaN,2,0,1,1,"(7.91, 14.454]","(32.252, 48.168]",3
866,867,1,2,"Duran y More, Miss. Asuncion",female,1.0,1,0,SC/PARIS 2149,1,NaN,0,0,2,0,"(7.91, 14.454]","(16.336, 32.252]",2
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,1.0,0,0,PC 17590,3,A24,2,1,1,1,"(31.0, 512.329]","(16.336, 32.252]",1
868,869,0,3,"van Melkebeke, Mr. Philemon",male,1.0,0,0,345777,1,NaN,2,1,1,1,"(7.91, 14.454]","(16.336, 32.252]",1
869,870,1,3,"Johnson, Master. Harold Theodor",male,0.0,1,1,347742,1,NaN,2,1,3,0,"(7.91, 14.454]","(0.34, 16.336]",4
870,871,0,3,"Balkic, Mr. Cerin",male,1.0,0,0,349248,0,NaN,2,1,1,1,"(-0.001, 7.91]","(16.336, 32.252]",1
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,2.0,1,1,11751,3,D35,2,0,3,0,"(31.0, 512.329]","(32.252, 48.168]",3
872,873,0,1,"Carlsson, Mr. Frans Olof",male,2.0,0,0,695,0,B51 B53 B55,2,1,1,1,"(-0.001, 7.91]","(32.252, 48.168]",1
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,2.0,0,0,345765,1,NaN,2,1,1,1,"(7.91, 14.454]","(32.252, 48.168]",1
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,1.0,1,0,P/PP 3381,2,NaN,0,0,2,0,"(14.454, 31.0]","(16.336, 32.252]",3
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,0.0,0,0,2667,0,NaN,0,0,1,1,"(-0.001, 7.91]","(0.34, 16.336]",2
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,1.0,0,0,7534,1,NaN,2,1,1,1,"(7.91, 14.454]","(16.336, 32.252]",1
877,878,0,3,"Petroff, Mr. Nedelio",male,1.0,0,0,349212,0,NaN,2,1,1,1,"(-0.001, 7.91]","(16.336, 32.252]",1
878,879,0,3,"Laleff, Mr. Kristo",male,1.0,0,0,349217,0,NaN,2,1,1,1,"(-0.001, 7.91]","(16.336, 32.252]",1
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,3.0,0,1,11767,3,C50,0,0,2,0,"(31.0, 512.329]","(48.168, 64.084]",3
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,1.0,0,1,230433,2,NaN,2,0,2,0,"(14.454, 31.0]","(16.336, 32.252]",3
881,882,0,3,"Markun, Mr. Johann",male,2.0,0,0,349257,0,NaN,2,1,1,1,"(-0.001, 7.91]","(32.252, 48.168]",1
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,1.0,0,0,7552,1,NaN,2,0,1,1,"(7.91, 14.454]","(16.336, 32.252]",2
883,884,0,2,"Banfield, Mr. Frederick James",male,1.0,0,0,C.A./SOTON 34068,1,NaN,2,1,1,1,"(7.91, 14.454]","(16.336, 32.252]",1
884,885,0,3,"Sutehall, Mr. Henry Jr",male,1.0,0,0,SOTON/OQ 392076,0,NaN,2,1,1,1,"(-0.001, 7.91]","(16.336, 32.252]",1
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,2.0,0,5,382652,2,NaN,1,0,6,0,"(14.454, 31.0]","(32.252, 48.168]",3
886,887,0,2,"Montvila, Rev. Juozas",male,1.0,0,0,211536,1,NaN,2,1,1,1,"(7.91, 14.454]","(16.336, 32.252]",5
887,888,1,1,"Graham, Miss. Margaret Edith",female,1.0,0,0,112053,2,B42,2,0,1,1,"(14.454, 31.0]","(16.336, 32.252]",2
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,1.0,1,2,W./C. 6607,2,NaN,2,0,4,0,"(14.454, 31.0]","(16.336, 32.252]",2
889,890,1,1,"Behr, Mr. Karl Howell",male,1.0,0,0,111369,2,C148,0,1,1,1,"(14.454, 31.0]","(16.336, 32.252]",1
890,891,0,3,"Dooley, Mr. Patrick",male,1.0,0,0,370376,0,NaN,1,1,1,1,"(-0.001, 7.91]","(16.336, 32.252]",1

In [9]:
dropElements = ['PassengerId','Name','Sex','SibSp','Parch','Ticket','Cabin','FamilySize','CategoricalFare','CategoricalAge']
train = train.drop(dropElements, axis=1)
train

     Survived  Pclass  Age  Fare  Embarked  Sex_binary  IsAlone  Title
0           0       3  1.0     0         2           1        0      1
1           1       1  2.0     3         0           0        0      3
2           1       3  1.0     1         2           0        1      2
3           1       1  2.0     3         2           0        0      3
4           0       3  2.0     1         2           1        1      1
5           0       3  1.0     1         1           1        1      1
6           0       1  3.0     3         2           1        1      1
7           0       3  0.0     2         2           1        0      4
8           1       3  1.0     1         2           0        0      3
9           1       2  0.0     2         0           0        0      3
10          1       3  0.0     2         2           0        0      2
11          1       1  3.0     2         2           0        1      2
12          0       3  1.0     1         2           1        1      1
13          0       3  2.0     3         2           1        0      1
14          0       3  0.0     0         2           0        1      2
15          1       2  3.0     2         2           0        1      3
16          0       3  0.0     2         1           1        0      4
17          1       2  1.0     1         2           1        1      1
18          0       3  1.0     2         2           0        0      3
19          1       3  1.0     0         0           0        1      3
20          0       2  2.0     2         2           1        1      1
21          1       2  2.0     1         2           1        1      1
22          1       3  0.0     1         1           0        1      2
23          1       1  1.0     3         2           1        1      1
24          0       3  0.0     2         2           0        0      2
25          1       3  2.0     3         2           0        0      3
26          0       3  1.0     0         0           1        1      1
27          0       1  1.0     3         2           1        0      1
28          1       3  1.0     0         1           0        1      2
29          0       3  1.0     0         2           1        1      1
..        ...     ...  ...   ...       ...         ...      ...    ...
861         0       2  1.0     1         2           1        0      1
862         1       1  2.0     2         2           0        1      3
863         0       3  1.0     3         2           0        0      2
864         0       2  1.0     1         2           1        1      1
865         1       2  2.0     1         2           0        1      3
866         1       2  1.0     1         0           0        0      2
867         0       1  1.0     3         2           1        1      1
868         0       3  1.0     1         2           1        1      1
869         1       3  0.0     1         2           1        0      4
870         0       3  1.0     0         2           1        1      1
871         1       1  2.0     3         2           0        0      3
872         0       1  2.0     0         2           1        1      1
873         0       3  2.0     1         2           1        1      1
874         1       2  1.0     2         0           0        0      3
875         1       3  0.0     0         0           0        1      2
876         0       3  1.0     1         2           1        1      1
877         0       3  1.0     0         2           1        1      1
878         0       3  1.0     0         2           1        1      1
879         1       1  3.0     3         0           0        0      3
880         1       2  1.0     2         2           0        0      3
881         0       3  2.0     0         2           1        1      1
882         0       3  1.0     1         2           0        1      2
883         0       2  1.0     1         2           1        1      1
884         0       3  1.0     0         2           1        1      1
885         0       3  2.0     2         1           0        0      3
886         0       2  1.0     1         2           1        1      5
887         1       1  1.0     2         2           0        1      2
888         0       3  1.0     2         2           0        0      2
889         1       1  1.0     2         0           1        1      1
890         0       3  1.0     0         1           1        1      1

[891 rows x 8 columns]

In [10]:
features = ['Pclass','Age','Fare','Embarked','Sex_binary','IsAlone','Title']
target = 'Survived'
test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binary,FamilySize,IsAlone,CategoricalFare,Title
0,892,3,"Kelly, Mr. James",male,2.0,0,0,330911,0,NaN,1,1,1,1,"(-0.001, 7.91]",1
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,2.0,1,0,363272,0,NaN,2,0,2,0,"(31.0, 512.329]",3
2,894,2,"Myles, Mr. Thomas Francis",male,3.0,0,0,240276,0,NaN,1,1,1,1,"(7.91, 14.454]",1
3,895,3,"Wirz, Mr. Albert",male,1.0,0,0,315154,0,NaN,2,1,1,1,"(31.0, 512.329]",1
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,1.0,1,1,3101298,0,NaN,2,0,3,0,"(7.91, 14.454]",3
5,897,3,"Svensson, Mr. Johan Cervin",male,0.0,0,0,7538,0,NaN,2,1,1,1,"(7.91, 14.454]",1
6,898,3,"Connolly, Miss. Kate",female,1.0,0,0,330972,0,NaN,1,0,1,1,"(31.0, 512.329]",2
7,899,2,"Caldwell, Mr. Albert Francis",male,1.0,1,1,248738,0,NaN,2,1,3,0,"(14.454, 31.0]",1
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,1.0,0,0,2657,0,NaN,0,0,1,1,"(7.91, 14.454]",3
9,901,3,"Davies, Mr. John Samuel",male,1.0,2,0,A/4 48871,0,NaN,2,1,3,0,"(14.454, 31.0]",1
10,902,3,"Ilieff, Mr. Ylio",male,1.0,0,0,349220,0,NaN,2,1,1,1,"(14.454, 31.0]",1
11,903,1,"Jones, Mr. Charles Cresson",male,2.0,0,0,694,0,NaN,2,1,1,1,"(14.454, 31.0]",1
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,1.0,1,0,21228,0,B45,2,0,2,0,"(7.91, 14.454]",3
13,905,2,"Howard, Mr. Benjamin",male,3.0,1,0,24065,0,NaN,2,1,2,0,"(31.0, 512.329]",1
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,2.0,1,0,W.E.P. 5734,0,E31,2,0,2,0,"(-0.001, 7.91]",3
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,1.0,1,0,SC/PARIS 2167,0,NaN,0,0,2,0,"(14.454, 31.0]",3
16,908,2,"Keane, Mr. Daniel",male,2.0,0,0,233734,0,NaN,1,1,1,1,"(14.454, 31.0]",1
17,909,3,"Assaf, Mr. Gerios",male,1.0,0,0,2692,0,NaN,0,1,1,1,"(7.91, 14.454]",1
18,910,3,"Ilmakangas, Miss. Ida Livija",female,1.0,1,0,STON/O2. 3101270,0,NaN,2,0,2,0,"(14.454, 31.0]",2
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,2.0,0,0,2696,0,NaN,0,0,1,1,"(-0.001, 7.91]",3
20,912,1,"Rothschild, Mr. Martin",male,3.0,1,0,PC 17603,0,NaN,0,1,2,0,"(14.454, 31.0]",1
21,913,3,"Olsen, Master. Artur Karl",male,0.0,0,1,C 17368,0,NaN,2,1,2,0,"(7.91, 14.454]",4
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,1.0,0,0,PC 17598,0,NaN,2,0,1,1,"(7.91, 14.454]",3
23,915,1,"Williams, Mr. Richard Norris II",male,1.0,0,1,PC 17597,0,NaN,0,1,2,0,"(31.0, 512.329]",1
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,2.0,1,3,PC 17608,0,B57 B59 B63 B66,0,0,5,0,"(14.454, 31.0]",3
25,917,3,"Robins, Mr. Alexander A",male,3.0,1,0,A/5. 3337,0,NaN,2,1,2,0,"(31.0, 512.329]",1
26,918,1,"Ostby, Miss. Helene Ragnhild",female,1.0,0,1,113509,0,B36,0,0,2,0,"(-0.001, 7.91]",2
27,919,3,"Daher, Mr. Shedid",male,1.0,0,0,2698,0,NaN,0,1,1,1,"(31.0, 512.329]",1
28,920,1,"Brady, Mr. John Bertram",male,2.0,0,0,113054,0,A21,2,1,1,1,"(-0.001, 7.91]",1
29,921,3,"Samaan, Mr. Elias",male,1.0,2,0,2662,0,NaN,0,1,3,0,"(-0.001, 7.91]",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",male,1.0,0,0,364858,0,NaN,1,1,1,1,"(-0.001, 7.91]",1
389,1281,3,"Palsson, Master. Paul Folke",male,0.0,3,1,349909,0,NaN,2,1,5,0,"(7.91, 14.454]",4
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,1.0,0,0,12749,0,B24,2,1,1,1,"(31.0, 512.329]",1
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,3.0,0,1,PC 17592,0,D28,2,0,2,0,"(-0.001, 7.91]",3
392,1284,3,"Abbott, Master. Eugene Joseph",male,0.0,0,2,C.A. 2673,0,NaN,2,1,3,0,"(7.91, 14.454]",4
393,1285,2,"Gilbert, Mr. William",male,2.0,0,0,C.A. 30769,0,NaN,2,1,1,1,"(31.0, 512.329]",1
394,1286,3,"Kink-Heilmann, Mr. Anton",male,1.0,3,1,315153,0,NaN,2,1,5,0,"(14.454, 31.0]",1
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,1.0,1,0,13695,0,C31,2,0,2,0,"(-0.001, 7.91]",3
396,1288,3,"Colbert, Mr. Patrick",male,1.0,0,0,371109,0,NaN,1,1,1,1,"(-0.001, 7.91]",1
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,2.0,1,1,13567,0,B41,0,0,3,0,"(14.454, 31.0]",3
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,1.0,0,0,347065,0,NaN,2,1,1,1,"(7.91, 14.454]",1
399,1291,3,"Conlon, Mr. Thomas Henry",male,1.0,0,0,21332,0,NaN,1,1,1,1,"(7.91, 14.454]",1
400,1292,1,"Bonnell, Miss. Caroline",female,1.0,0,0,36928,0,C7,2,0,1,1,"(7.91, 14.454]",2
401,1293,2,"Gale, Mr. Harry",male,2.0,1,0,28664,0,NaN,2,1,2,0,"(7.91, 14.454]",1
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,1.0,0,1,112378,0,NaN,0,0,2,0,"(7.91, 14.454]",2
403,1295,1,"Carrau, Mr. Jose Pedro",male,1.0,0,0,113059,0,NaN,2,1,1,1,"(14.454, 31.0]",1
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,2.0,1,0,17765,0,D40,0,1,2,0,"(7.91, 14.454]",1
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,1.0,0,0,SC/PARIS 2166,0,D38,0,1,1,1,"(14.454, 31.0]",1
406,1298,2,"Ware, Mr. William Jeffery",male,1.0,1,0,28666,0,NaN,2,1,2,0,"(-0.001, 7.91]",1
407,1299,1,"Widener, Mr. George Dunton",male,3.0,1,1,113503,0,C80,0,1,3,0,"(14.454, 31.0]",1
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,1.0,0,0,334915,0,NaN,1,0,1,1,"(-0.001, 7.91]",2
409,1301,3,"Peacock, Miss. Treasteall",female,0.0,1,1,SOTON/O.Q. 3101315,0,NaN,2,0,3,0,"(14.454, 31.0]",2
410,1302,3,"Naughton, Miss. Hannah",female,1.0,0,0,365237,0,NaN,1,0,1,1,"(-0.001, 7.91]",2
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,2.0,1,0,19928,0,C78,1,0,2,0,"(-0.001, 7.91]",3
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,1.0,0,0,347086,0,NaN,2,0,1,1,"(31.0, 512.329]",2
413,1305,3,"Spector, Mr. Woolf",male,1.0,0,0,A.5. 3236,0,NaN,2,1,1,1,"(-0.001, 7.91]",1
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,2.0,0,0,PC 17758,0,C105,0,0,1,1,"(7.91, 14.454]",5
415,1307,3,"Saether, Mr. Simon Sivertsen",male,2.0,0,0,SOTON/O.Q. 3101262,0,NaN,2,1,1,1,"(7.91, 14.454]",1
416,1308,3,"Ware, Mr. Frederick",male,1.0,0,0,359309,0,NaN,2,1,1,1,"(31.0, 512.329]",1
417,1309,3,"Peter, Master. Michael J",male,1.0,1,1,2668,0,NaN,0,1,3,0,"(7.91, 14.454]",4

In [11]:
X_train = np.array(train[features])
X_train = X_train/np.amax(X_train, axis=0)
y_train = np.array(train[target])
y_train = y_train.reshape(-1,1)

In [12]:
X_test = np.array(test[features])

In [13]:
import numpy as np
import tensorflow as tf
from tensorflow.contrib.layers import fully_connected
print("Using TensorFlow Version %s" %tf.__version__)

/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

Using TensorFlow Version 1.10.0

In [14]:
class NeuronalNet(object):
    def __init__(self, sess, X, Y, n_hidden=4, learning_rate=1e-2):
        self.sess = sess
        self.X = X
        self.Y = Y.reshape(-1,1)
        self.n_inputs = X.shape[0]
        self.n_input_dim = X.shape[1]
        self.n_output = 1
        self.learning_rate = learning_rate 
        self.n_hidden = n_hidden
        self.X_input, self.y, self.logits, self.cost = self.createNeuralNet()
        self.optimizer = tf.train.GradientDescentOptimizer(self.learning_rate) # self.optimizer = tf.train.AdamOptimizer(self.learning_rate) #optimizador
        self.train_op = self.optimizer.minimize(self.cost)

    def createNeuralNet(self):
        initializer = tf.contrib.layers.xavier_initializer()
        X_input = tf.placeholder(tf.float32, [None, self.n_input_dim], name='input')
        y = tf.placeholder(tf.float32, [None, self.n_output], name='output')
        # Layer
        hidden1 = fully_connected(X_input, self.n_hidden,\
                                 activation_fn=tf.nn.elu, weights_initializer=initializer)
        logits = fully_connected(hidden1, self.n_output,\
                                 activation_fn=tf.nn.sigmoid, weights_initializer=initializer)
        loss = tf.nn.sigmoid_cross_entropy_with_logits(labels=y, \
                                                       logits=logits)
        cost = tf.reduce_mean(loss)
        return X_input, y, logits, cost
    
    def train(self):
        _, cost = self.sess.run([self.train_op,self.cost],\
                                feed_dict={self.X_input: self.X,
                                           self.y: self.Y})        
        return cost
    
    def predict(self, X_test):
        pred = self.sess.run([self.logits], feed_dict={ self.X_input: X_test})[0]        
        return pred

In [15]:
def getTrainCost(model, n_iters=1000):
    model.sess.run(tf.global_variables_initializer())
    cost = []
    for i in range(n_iters):
        cost.append(model.train())
    return cost

In [16]:
neurons = 4
n_iters = 500
tf.reset_default_graph()
sess = tf.Session()
net = NeuronalNet(sess, X_train, y_train, n_hidden=neurons, learning_rate=0.05)
cost = getTrainCost(net, n_iters)

In [17]:
predicciones = net.predict(X_test)
print(predicciones)

[[0.2635342 ]
 [0.6390393 ]
 [0.38742906]
 [0.06354225]
 [0.47280747]
 [0.03330268]
 [0.51166797]
 [0.07139536]
 [0.8030346 ]
 [0.07957859]
 [0.06354225]
 [0.09798343]
 [0.42292127]
 [0.23275654]
 [0.59213847]
 [0.8075509 ]
 [0.23884392]
 [0.32008627]
 [0.3373002 ]
 [0.8514789 ]
 [0.60800636]
 [0.19599667]
 [0.36147276]
 [0.29861206]
 [0.831605  ]
 [0.25690714]
 [0.7080616 ]
 [0.32008627]
 [0.09798343]
 [0.37641004]
 [0.23275654]
 [0.07139536]
 [0.6390393 ]
 [0.47280747]
 [0.29861206]
 [0.32008627]
 [0.280828  ]
 [0.280828  ]
 [0.06354225]
 [0.06354225]
 [0.550364  ]
 [0.05235042]
 [0.11852023]
 [0.38523266]
 [0.59213847]
 [0.06354225]
 [0.41301885]
 [0.15081386]
 [0.8510909 ]
 [0.6390393 ]
 [0.06331504]
 [0.28860742]
 [0.3149242 ]
 [0.290188  ]
 [0.28860742]
 [0.3936727 ]
 [0.11852023]
 [0.06354225]
 [0.07957859]
 [0.7577174 ]
 [0.06354225]
 [0.05796884]
 [0.06354225]
 [0.51166797]
 [0.5635431 ]
 [0.38523266]
 [0.51166797]
 [0.09798343]
 [0.2531958 ]
 [0.70906717]
 [0.51166797]
 [0.06354225]
 [0.280828  ]
 [0.2531958 ]
 [0.7577174 ]
 [0.41301885]
 [0.06354225]
 [0.70906717]
 [0.05796884]
 [0.51166797]
 [0.633251  ]
 [0.97989994]
 [0.17514549]
 [0.06354225]
 [0.13355574]
 [0.37641004]
 [0.51166797]
 [0.280828  ]
 [0.51166797]
 [0.1776025 ]
 [0.47280747]
 [0.06354225]
 [0.42292127]
 [0.06354225]
 [0.2531958 ]
 [0.06354225]
 [0.9929189 ]
 [0.06354225]
 [0.280828  ]
 [0.11852023]
 [0.831605  ]
 [0.07139536]
 [0.15081386]
 [0.06354225]
 [0.7540886 ]
 [0.06354225]
 [0.15081386]
 [0.15081386]
 [0.06354225]
 [0.05796884]
 [0.45350623]
 [0.51166797]
 [0.7577174 ]
 [0.51166797]
 [0.70906717]
 [0.37641004]
 [0.32008627]
 [0.20413238]
 [0.41301885]
 [0.44923648]
 [0.15106444]
 [0.18580286]
 [0.831605  ]
 [0.06354225]
 [0.15081386]
 [0.3373002 ]
 [0.06354225]
 [0.5771109 ]
 [0.10797528]
 [0.06354225]
 [0.06354225]
 [0.86824554]
 [0.47280747]
 [0.37641004]
 [0.11852023]
 [0.06354225]
 [0.32008627]
 [0.05796884]
 [0.280828  ]
 [0.14766282]
 [0.20413238]
 [0.3871622 ]
 [0.60800636]
 [0.05796884]
 [0.09798343]
 [0.07957859]
 [0.05235042]
 [0.06354225]
 [0.05235042]
 [0.43721426]
 [0.785791  ]
 [0.32008627]
 [0.21134181]
 [0.6390393 ]
 [0.19599667]
 [0.06354225]
 [0.24105431]
 [0.280828  ]
 [0.09798343]
 [0.47280747]
 [0.51166797]
 [0.633251  ]
 [0.26170486]
 [0.06354225]
 [0.5444583 ]
 [0.47280747]
 [0.41301885]
 [0.07957859]
 [0.762686  ]
 [0.280828  ]
 [0.06354225]
 [0.32008627]
 [0.07957859]
 [0.32008627]
 [0.14766282]
 [0.18733537]
 [0.26170486]
 [0.60800636]
 [0.61733043]
 [0.8593391 ]
 [0.05796884]
 [0.46828398]
 [0.42292127]
 [0.15081386]
 [0.785791  ]
 [0.10797528]
 [0.3149242 ]
 [0.07957859]
 [0.3373002 ]
 [0.10797528]
 [0.13241929]
 [0.05235042]
 [0.19599667]
 [0.38742906]
 [0.1776025 ]
 [0.11852023]
 [0.5635431 ]
 [0.280828  ]
 [0.05796884]
 [0.4070135 ]
 [0.51166797]
 [0.19599667]
 [0.84635955]
 [0.18733537]
 [0.05796884]
 [0.2531958 ]
 [0.66961056]
 [0.05796884]
 [0.7577174 ]
 [0.06354225]
 [0.06354225]
 [0.06354225]
 [0.05796884]
 [0.7325345 ]
 [0.5013814 ]
 [0.09798343]
 [0.51166797]
 [0.20791157]
 [0.8593391 ]
 [0.06354225]
 [0.73626834]
 [0.06354225]
 [0.38523266]
 [0.06354225]
 [0.8510909 ]
 [0.8255123 ]
 [0.06354225]
 [0.51166797]
 [0.11852023]
 [0.10797528]
 [0.03032569]
 [0.24105431]
 [0.07957859]
 [0.15081386]
 [0.46828398]
 [0.06354225]
 [0.60800636]
 [0.32008627]
 [0.3149242 ]
 [0.831605  ]
 [0.8510909 ]
 [0.61733043]
 [0.46828398]
 [0.06354225]
 [0.32800964]
 [0.11802161]
 [0.38523266]
 [0.13241929]
 [0.44923648]
 [0.8255123 ]
 [0.18733537]
 [0.06354225]
 [0.29861206]
 [0.06354225]
 [0.11852023]
 [0.06354225]
 [0.15081386]
 [0.06354225]
 [0.26170486]
 [0.06354225]
 [0.14766282]
 [0.06354225]
 [0.44923648]
 [0.20413238]
 [0.28860742]
 [0.06354225]
 [0.05235042]
 [0.06354225]
 [0.280828  ]
 [0.06354225]
 [0.41301885]
 [0.15081386]
 [0.785791  ]
 [0.5771109 ]
 [0.32008627]
 [0.3149242 ]
 [0.05796884]
 [0.13241929]
 [0.07139536]
 [0.05796884]
 [0.280828  ]
 [0.19599667]
 [0.51166797]
 [0.64689505]
 [0.20413238]
 [0.11852023]
 [0.06354225]
 [0.06331504]
 [0.32008627]
 [0.06354225]
 [0.05235042]
 [0.51166797]
 [0.32008627]
 [0.72095084]
 [0.11852023]
 [0.06354225]
 [0.61977935]
 [0.37641004]
 [0.05235042]
 [0.06354225]
 [0.06354225]
 [0.28860742]
 [0.13241929]
 [0.06354225]
 [0.51166797]
 [0.70906717]
 [0.06331504]
 [0.19599667]
 [0.20791157]
 [0.6390393 ]
 [0.06354225]
 [0.32008627]
 [0.06354225]
 [0.66961056]
 [0.8510909 ]
 [0.51166797]
 [0.60800636]
 [0.05796884]
 [0.06354225]
 [0.07139536]
 [0.06354225]
 [0.32008627]
 [0.05796884]
 [0.09798343]
 [0.3871622 ]
 [0.06354225]
 [0.18733537]
 [0.41301885]
 [0.07139536]
 [0.05796884]
 [0.61733043]
 [0.41301885]
 [0.32008627]
 [0.8255123 ]
 [0.06354225]
 [0.05235042]
 [0.05796884]
 [0.550364  ]
 [0.05796884]
 [0.72557175]
 [0.05796884]
 [0.06354225]
 [0.07957859]
 [0.8593391 ]
 [0.32800964]
 [0.164567  ]
 [0.05796884]
 [0.8514789 ]
 [0.05796884]
 [0.26170486]
 [0.831605  ]
 [0.05796884]
 [0.05796884]
 [0.23275654]
 [0.20413238]
 [0.17514549]
 [0.70906717]
 [0.06354225]
 [0.15081386]
 [0.47280747]
 [0.19599667]
 [0.8075509 ]
 [0.38523266]
 [0.06354225]
 [0.785791  ]
 [0.47280747]
 [0.37641004]
 [0.280828  ]
 [0.831605  ]
 [0.28860742]
 [0.07139536]
 [0.6738465 ]
 [0.17514549]
 [0.10797528]
 [0.70906717]
 [0.7577174 ]
 [0.3373002 ]
 [0.05796884]
 [0.17514549]
 [0.19599667]
 [0.15081386]
 [0.15081386]
 [0.4070135 ]
 [0.47280747]
 [0.05796884]
 [0.3149242 ]
 [0.06354225]
 [0.19263145]
 [0.15081386]
 [0.19599667]
 [0.05235042]
 [0.70906717]
 [0.19599667]
 [0.10797528]
 [0.07957859]
 [0.42292127]
 [0.15081386]
 [0.831605  ]
 [0.06354225]
 [0.15081386]
 [0.24105431]
 [0.13241929]
 [0.7080616 ]
 [0.05235042]
 [0.46828398]
 [0.28860742]
 [0.07139536]
 [0.60800636]
 [0.51166797]
 [0.20413238]
 [0.51166797]
 [0.7520388 ]
 [0.280828  ]
 [0.06354225]
 [0.8942081 ]
 [0.11852023]
 [0.06354225]
 [0.76539314]]

In [18]:
predicciones = predicciones.tolist()

In [19]:
pre = pd.Series(predicciones)
validate['prediccion'] = pre
validate['prediccion'] = validate['prediccion'].str.get(0)
validate

     PassengerId  Survived  prediccion
0            892         0    0.263534
1            893         0    0.639039
2            894         0    0.387429
3            895         0    0.063542
4            896         1    0.472807
5            897         0    0.033303
6            898         1    0.511668
7            899         0    0.071395
8            900         1    0.803035
9            901         0    0.079579
10           902         0    0.063542
11           903         0    0.097983
12           904         1    0.422921
13           905         0    0.232757
14           906         1    0.592138
15           907         1    0.807551
16           908         0    0.238844
17           909         0    0.320086
18           910         0    0.337300
19           911         1    0.851479
20           912         0    0.608006
21           913         0    0.195997
22           914         1    0.361473
23           915         1    0.298612
24           916         1    0.831605
25           917         0    0.256907
26           918         1    0.708062
27           919         0    0.320086
28           920         0    0.097983
29           921         0    0.376410
..           ...       ...         ...
388         1280         0    0.150814
389         1281         0    0.195997
390         1282         0    0.052350
391         1283         1    0.709067
392         1284         0    0.195997
393         1285         0    0.107975
394         1286         0    0.079579
395         1287         1    0.422921
396         1288         0    0.150814
397         1289         1    0.831605
398         1290         0    0.063542
399         1291         0    0.150814
400         1292         1    0.241054
401         1293         0    0.132419
402         1294         1    0.708062
403         1295         0    0.052350
404         1296         1    0.468284
405         1297         0    0.288607
406         1298         0    0.071395
407         1299         0    0.608006
408         1300         1    0.511668
409         1301         1    0.204132
410         1302         1    0.511668
411         1303         1    0.752039
412         1304         0    0.280828
413         1305         0    0.063542
414         1306         1    0.894208
415         1307         0    0.118520
416         1308         0    0.063542
417         1309         0    0.765393

[418 rows x 3 columns]

In [20]:
coincidencias = []
for dato in validate.prediccion:
    if dato >= 0.5:
        coincidencias.append(1)
    else:
        coincidencias.append(0)
validate['final'] = coincidencias
validate

     PassengerId  Survived  prediccion  final
0            892         0    0.263534      0
1            893         0    0.639039      1
2            894         0    0.387429      0
3            895         0    0.063542      0
4            896         1    0.472807      0
5            897         0    0.033303      0
6            898         1    0.511668      1
7            899         0    0.071395      0
8            900         1    0.803035      1
9            901         0    0.079579      0
10           902         0    0.063542      0
11           903         0    0.097983      0
12           904         1    0.422921      0
13           905         0    0.232757      0
14           906         1    0.592138      1
15           907         1    0.807551      1
16           908         0    0.238844      0
17           909         0    0.320086      0
18           910         0    0.337300      0
19           911         1    0.851479      1
20           912         0    0.608006      1
21           913         0    0.195997      0
22           914         1    0.361473      0
23           915         1    0.298612      0
24           916         1    0.831605      1
25           917         0    0.256907      0
26           918         1    0.708062      1
27           919         0    0.320086      0
28           920         0    0.097983      0
29           921         0    0.376410      0
..           ...       ...         ...    ...
388         1280         0    0.150814      0
389         1281         0    0.195997      0
390         1282         0    0.052350      0
391         1283         1    0.709067      1
392         1284         0    0.195997      0
393         1285         0    0.107975      0
394         1286         0    0.079579      0
395         1287         1    0.422921      0
396         1288         0    0.150814      0
397         1289         1    0.831605      1
398         1290         0    0.063542      0
399         1291         0    0.150814      0
400         1292         1    0.241054      0
401         1293         0    0.132419      0
402         1294         1    0.708062      1
403         1295         0    0.052350      0
404         1296         1    0.468284      0
405         1297         0    0.288607      0
406         1298         0    0.071395      0
407         1299         0    0.608006      1
408         1300         1    0.511668      1
409         1301         1    0.204132      0
410         1302         1    0.511668      1
411         1303         1    0.752039      1
412         1304         0    0.280828      0
413         1305         0    0.063542      0
414         1306         1    0.894208      1
415         1307         0    0.118520      0
416         1308         0    0.063542      0
417         1309         0    0.765393      1

[418 rows x 4 columns]

In [21]:
coincide = 0
coincide = sum(validate['Survived'] == validate['final'])
print(coincide)
print(float(coincide)/ float(len(validate)))

match = 0
nomatch = 0
for val in validate.values:
    if val[1] == val[3]:
        match = match +1
    else:
        nomatch = nomatch +1
print(float(match)/float(len(validate)))

330
0.7894736842105263
0.7894736842105263

In [22]:
toKaggle = pd.DataFrame({'PassengerId':validate['PassengerId'],
                         'Survived':validate['final']})

toKaggle.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         0

# output file with your prediction

In [23]:
from datetime import datetime
archivo = 'TitanicPred.csv'

toKaggle.to_csv(archivo,index=False)

print('Creado: ' + archivo)

Creado: TitanicPred.csv